<router-outlet>
   <h1> {{title}}</h1>
    <button mat-raised-button class="button-add-row"(click)="openDialog()">Add Restaurant</button>
  <table class="center">
    <thead>
      <link rel="stylesheet" href="app.component.css">
      <tr>
        <th>Restaurant Name</th>
        <th>Drink</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of service.data">
        <td>{{info.RestaurantName}}</td>
        <td>{{info.Drink}}</td>
        <td>{{info.Review}}
          <button (click)="editRow(info)"> Edit</button> 
          <button (click)="deleteRow(info.id)"> Delete</button></td>
      </tr>
    </tbody>
  </table> 
</router-outlet>