.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid #fff;
    padding: 10px
}

.modal {
    width: 500px;
    padding: 0px 20px 20px 20px;
    text-align: center;


}

.rest-name,
.drink-name,
.review-dialog {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5%;
    width: 100%;

}

label {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 2%;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.save-btn,
.close-btn {
    color: black;
    width: 60px;
    height: 25px;
    border: 2px solid;
    margin-right: 20px;

}